body.light-theme {
  --main-bg-color: #007373;
  --main-fg-color: #FFF;
  --right-answer-border: 2px solid #05fa3a;
  --wrong-answer-border: 2px solid red;
  --error-btn-color:  red;
  --main-border: 0px;
  --body-fon: lightblue;
  --text-color: #007373;
  --toogle-on-color: #0079f2;
  --font-weight:bold;
  --btn-font-size: 20px;
  --body-font-size: 62.5%;
  --border-radius: 6px;
  --nochanged-font-size: 20px; 
  --font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --border-color: solid #007373;
  --question-button-width: 0%  1%  2% 1%;
  
}

body.dark-theme {
  --main-border: 0px;
  --main-bg-color: #3e4657;
  --main-fg-color: #E9E8EB;     
  --right-answer-border: 2px solid #0079f2;
  --wrong-answer-border: 2px solid #F76365;
  --error-btn-color: #F76365;
  --toogle-on-color: #0079f2;
  --body-fon: #202430;
  --text-color: #7d8fb3;
  --font-weight: normal;
  --btn-font-size: 20px;
  --body-font-size: 62.5%;
  --border-radius: 6px;
  --nochanged-font-size: 20px; 
  --font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --border-color: solid #3e4657;
  --question-button-width: 0%  1%  2% 1%;
}

body{
  display: flex;
  flex-direction:column;  
  background-color: var(--body-fon);
  padding-left: 1%;
  padding-right: 1%;
  font-size: var(--body-font-size); 
  user-select: none;
  hyphens: auto;
  max-height:9000000px;

} 

.body-content{
  flex: 1 0 auto;  
}


.button, .test-button, .count-button, .option-button, .question-button, .history-button, .clear-history-button {
  width: 100%; 
  text-align: center;    
  font-size: var(--btn-font-size);
  border-radius: var(--border-radius);   
  margin-top: 12px;  
  color:var(--main-fg-color);
  background-color: var(--main-bg-color);  
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  
}


.count-button {  
  height: 32px;
  max-height: 32px;
  margin-top: 0px;
  margin-bottom: 12px;
 
}   

.option-button{

  text-align: left;  
  padding: 13px;
  display: flex;
 
  
}
.button, .test-button { 

  height: 44px;
  max-height: 44px;
}



.clear-history-button{
  
  width: 26%;
  background-color: var(--body-fon);
  padding: 6px 0px 6px 0px;
  color: var(--text-color);
  font-size: 1.4em;    
  border: 1px var(--border-color);
 
  

}

.clear-history-block{
 
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  display: none;
  
  
}


.history-button{

  background-color: #3c445c;  
  font-size: 14px;
  height: 25px;
  width: 68px;
}

/* #button-stop {
  display: none;
  margin-left: 3em;
} */

#help{
  margin-bottom: 2em;
}

.question-button {

  text-align: left;
  padding: 0.80em;
  margin-top: 0px;
}

.error-button {
  width: 32px;
  height: 32px;
  background-color: var(--main-bg-color);
  color:var(--main-fg-color);
  border: var(--main-border);
  cursor: pointer;
  margin: 4px;   
}

.buttons-block, .levels-block{     
  padding:  2% 25% 5% 25%;
    
}


.test-block{  
  /* padding: 0%  20%  2% 20%;   */

  padding: var(--question-button-width);
  /* background-color: red; */
}

.line{
  width: 96%;  
	border: none;
  margin-top: 18px;
	border-top: 1px solid var(--text-color);  
}

#results, #questions-counter{
  display: none;
  text-align: center;
  
}
#errors{

  text-align: left;
  justify-content: left;
  /* background-color: #05fa3a; */
  margin: 2% 0% 6% 1%;
}
p:active{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


p{
  font-size: var(--nochanged-font-size);
  font-family: var(--font-family);
  color: var(--text-color);
  cursor: default;
}


.help-button-block, .menu-button-block{

  /* background-color: #05fa3a; */
  margin: 4px;
  width: 50%;
  height: 8%;
  text-align: left;
  

}
.help-button-block { 
  text-align: right;
  /* background-color: #05fa3a; */
}

.help-button{

  background-color: var(--body-fon);
  
  color: var(--main-bg-color);
  /* padding: 10px; */
  text-align: center;
  border: 1px var(--border-color);
  border-radius: 50%;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 20px;
  margin-top: 2px;
  /* cursor: pointer; */
  width: 32px;
  height: 32px;
}

.help-button:active, .clear-history-button:active {
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--main-fg-color);
  border-color: var(--main-fg-color);

}

.help-text-format {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.56;
    overflow-wrap: break-word;
}


.home-block{  
  float: left; 
  padding-right: 12px;  
  /* background-color: #76f476; */
  
}

/* .stop-block{  
  float: left;
  
 
} */

.next-block{   
  float: right;
  padding-left: 10px;
  /* background-color: yellow; */
}


.footer-button{ 
  text-align: center;    
  font-size: 1.8em;
  border-radius: var(--border-radius); 
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
  padding: 10px;
  border: 0;
  cursor: pointer; 
  display: inline-block;
}
.header-block {
  /* height: 40px;
  padding: 0% 1%;  
  display: block;  */
  /* background-color: red; */
  height: 10%;
  padding: 2% 2%;   
  display: flex;
  flex-direction: row;
  
  
}



.footer{    
  padding: 1% 1% 1% 1%;   
  display: none;
  /* background-color: red; */
  margin: 8% auto;
  height: 40px;
 
}


#answers, #test, #errors-block, .results-block {
  display: none; 
}



#test-title{
  
  text-align: center;
  font-weight: bold;

}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}



.menu-button {
   
  color: var(--text-color);    
  background-color: var(--body-fon);
  padding: 4px;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}


.menu-dropdown-block, .history-dropdown {
  display: none;
  position: absolute;
  background-color: var(--body-fon);    
  padding: 0px 14px;
  
  
}

/*=============================странца справки==========================*/

.help-block {

  display: none;
  position: absolute;  
  padding: 0px 10px;  
  top: 0px;
  left: 0px; 
  /* text-align: center;
  justify-content: center; */
  width: 100%;  
  height: 100%;  
  background-color: var(--body-fon); 
  box-sizing: border-box 


    
  
  
  
}



/*=============================странца истории тестирования==========================*/


.history-dropdown{
 
  right: 2%;
  top: 9%;
  width: 60%;
  padding: 26px 14px; 
  height: 8%;
  border: 1px var(--border-color);
}

.history-block{
  padding-left: 2%;
  width: 100%;
  max-width: 100%;
  min-height: 2em;
  margin: 0 0 0 auto; /* то же, что margin-left: auto;  */ 
    
}

.clear-history-block{
 
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  display: none;
  float: right;
  
}

/* .clear-history-block{
 
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  display: none;
  
  
} */


/* 
.visible {
  display: block;
} */


.svg-burger{

  fill: var(--main-bg-color);
  width: 70px;
  height: 4px;
}

/* .show-menu-button:active, .svg-burger {
  fill: var(--main-fg-color);
} */

.show-menu-button:active .svg-burger {
  fill: var(--main-fg-color);
}

svg{
  height: 22px;
  width: 30px;
  pointer-events: none;
  
}



.show-menu-button {
   
  color: var(--text-color);    
  background-color: var(--body-fon);
  padding: 4px;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}




.help-text-format{

  hyphens: auto;
  
}

/*=============================странца поиска вопросов в тесте==========================*/

.search-block {

  text-align: center;
  justify-content: center;
  width: 100%;  
  height: 100%;
  display: none;
  position: absolute;
  background-color: var(--body-fon);  
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  padding: 0px 10px;
  
}

/* 
.search-quest-block {

  padding: 0px 10px;

} */

label {
  font-size: var(--btn-font-size);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: var(--text-color);
}


input[type="text"], textarea {
 
  outline: none; 
  border: 1px var(--border-color);
  background-color: var(--body-fon);
  border-radius: 4px;
  font-size: 18px; 
  color: var(--text-color);
  padding: 4px;
  width: 40px;
  margin-left: 10px;
  margin-right: 20px;
}

.drop-down{

  background-color: var(--body-fon);
  font-size: 18px;
  color: var(--text-color);
  border: 1px var(--border-color);
  padding: 4px;
  border-radius: 4px;
 /* -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none; */
 
  
}

select:focus {
  outline: 1px var(--border-color);
  box-shadow: 0;
}

.input-block {
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-right: 24px; */
  justify-content: center;
  align-items: center;
  display: flex;
  height: 48px;
  /* background-color: #05fa3a; */
}

.back-button-block {

  text-align: left;
  margin: 6% 0%; 
  /* background-color: #007373;  */
  /* padding-left: 10px; */
}

.back-button {
  
  /* padding: 4px 6px;  */
  color: var(--text-color);
  background-color: var(--body-fon);
  border: 1px var(--border-color);
  border-radius: 4px;
  font-size: 18px;
  
  
}

.button-show-question {
  
  padding: 4px 6px; 
  color: var(--text-color);
  background-color: var(--body-fon);
  border: 1px var(--border-color);
  border-radius: 4px;
  font-size: 18px;
  
  
}

.button-show-question:active, .back-button:active {
  
  color: var(--main-fg-color);
  border-color: var(--main-fg-color);

}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  border: 1px solid var(--border-color);
  /* -webkit-text-fill-color: green; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  /* transition: background-color 5000s ease-in-out 0s; */
}

/*=============================странца настроек профиля==========================*/

.profile-block {

  text-align: left;
  justify-content: left;  
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: var(--body-fon);  
  top: 0px;
  left: 0px; 
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box
  
}

.fieldset {

  border-radius: 5px;  
  /* margin: 0px 14px; */
  border: var(--border-color);

}

.legend {

  color: var(--text-color);
  font-size: 20px;
  font-family: var(--font-family);
 
 }





/* @media screen and (min-width:0\0) { 
  select {
      background:none;
      padding: 5px;
  }
}

.drop-down option:checked{
  
  border-width: 0px;
  box-sizing: content-box;
  border: 0;
} */



